.title {
    margin-bottom: 25px;
    text-align: center;
    width: 220px;
    color: #f1f1f1;
    border: dotted black 2px;
}

input[type="button"] {
    background-color: rgb(230, 255, 5);
    color: black;
    border: solid black 2px;
    width: 100%
}

input[type="text"] {
    background-color: white;
    border: solid black 2px;
    width: 100%;
}

.navbar-dark {
    background-color: #512DA8;
}

/* .container {
    border: dotted white 2px;
} */

table {
    border: dotted rgb(196, 28, 28) 2px;
    width: inline;
    background-color: aqua;
}